---
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "@/components/icons/GitHub.astro";
import EmailPill from "@/components/EmailPill.astro";

// Recibimos el diccionario de traducciones
const { i18n } = Astro.props;
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.webp"
      alt={i18n.hero.image_alt}
    />
    <a
      href="https://linkedin.com/in/alejfernandezv"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{i18n.hero.badge}</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    {i18n.hero.title}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    {i18n.hero.intro_1}
    <strong>{i18n.hero.role}</strong>
    {i18n.hero.intro_2}
    <strong>
      <a
        target="_blank"
        href="https://www.unicauca.edu.co/versionP/"
        class="hover:underline"
      >
        {i18n.hero.university}
      </a>
    </strong>
    {i18n.hero.location}
    <strong>{i18n.hero.focus}</strong>
    {i18n.hero.focus_connector}
    <strong>{i18n.hero.second_focus}</strong>
    {i18n.hero.focus_desc}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <EmailPill />
    <SocialPill href="https://github.com/AlejFernandezV">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/alejfernandezv/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    {/* Aquí usamos el link dinámico por si tienes un CV en inglés */}
    <SocialPill href={i18n.hero.cv_link}> {i18n.hero.cv_button} </SocialPill>
  </nav>
</div>

<style>
  strong {
    @apply text-red dark:text-redlight;
  }
</style>
